@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.main-comtainer{

  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

}

.form{
  max-width: 430px;
  width: 90%;
  padding: 30px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #cccccc;
}

.heading{
  font-size: 35px;
  font-weight: 600;
  color:#272848 ;
  text-align: center;
}

form{
  margin-top: 30px;
}

form .field{
  height:45px;
  width: 100%;
  margin-top: 20px;
}

.field input {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 16px;
  background-color: rgb(233, 227, 227);
}

.field input:focus{
  border: 2px solid #585CE5;
  

}


.button-field {
  border: none;
  color: white;
  font-size: larger;
  font-weight: 500;
  background-color: #3DB491;
  border-radius: 1rem;
}
.new{
  margin-top: 1rem;
  text-align: center;
}
